---
layout: default
---

<div id="wrapper">

    <header id="header">
        <h1>
            <a href="index.html">
                <strong>{{ site.title }}</strong><br />
                {{ site.subtitle }}
            </a>
        </h1>
        <nav>
            <ul>
                <li><a href="#navpanel" class="icon fa-bars"><span>Menu</span></a></li>
                <!--
                <li><a href="https://violetrollergirl.tryst.link/#availability" target="_blank" class="icon fa-plane">Tours</a></li>
                <li><a href="#rates" class="icon fa-coins">Rates</a></li>
                <li><a href="#contact" class="icon fa-envelope-open">Contact</a></li>
                -->
            </ul>
        </nav>
    </header><!-- #header -->

    <main id="main" data-exif='{{ site.exif }}'>
        {% assign gallery_images = site.static_files | where: "gallery_image", true %}
        {% assign first_image = gallery_images | first %}
        {% assign image_base_path = first_image.path | split: "/" | slice: 0, 3 | join: "/" %}
        {% for image in gallery_images %}
        <article class="thumb">
            <a href="{{ site.baseurl }}{{ image_base_path }}/fulls/{{ image.name }}" class="image">
                <img src="{{ site.baseurl }}{{ image_base_path }}/thumbs/{{ image.name }}" alt=""
                     data-name="{{ image.name }}"
                     data-position="{{ image.position }}"
                 /></a>
            <!--<h2></h2>
            <p></p>-->
        </article>
        {% endfor %}
    </main>

    <section id="navpanel" class="panel">
        <nav>
            <ul class="fa-ul">
                <li><a href="#about"><span class="icon fa-solid fa-circle-info"></span><br />About</a></li>
                <li><a href="#gallery"><span class="icon fa-solid fa-image-portrait"></span><br />Gallery</a></li>
                <li><a href="#rates"><span class="icon fa-solid fa-coins"></span><br />Rates</a></li>
                <li><a href="#contact"><span class="icon fa-solid fa-envelope-open"></span><br />Contact</a></li>
                <li><a href="#tours"><span class="icon fa-solid fa-plane"></span><br />Tours</a></li>
                <li><a href="#links"><span class="icon fa-solid fa-chain"></span><br />Links</a></li>
            </ul>
        </nav>
    </section>

    <section id="about" class="panel">
        <header id="Hero">
            <h2>Hi, I'm Violet.</h2>
            <h3>A bubbly, kinky, rollerblading cyberpunk hentai trans femmebot fantasy for hire. <a href="#{{ site.title | slugify }}">Welcome to my website</a>.</h3>
            <p class="text-center">
                <a href="#{{ site.title | slugify }}" title="Enter my Web site">
                    <img src="{% link images/rollergirl-cyberpunk-hero.jpg %}" alt="" />
                </a>
            </p>
        </header>
        <div class="inner split">
            <div>
                <h2 id="{{ site.title | slugify }}">{{  site.title }}</h2>
                <p>I'm Vi (pronounced like "eye" but with a V), a bubbly, sweet, and adventurous trans girlfriend experience with an optional kinky, submissive twist.</p>
                <p>Equal parts whip-smart and whipping girl, I'm fit and athletic, with soft, curly red ringlets and a natural aesthetic that can be hard femme, curious kitten, sexy librarian, cyberpunk hentai seductress, or a fantasy somewhere in between.</p>
                <p>I host at convenient and well-equipped private incall spaces in and around NYC 🗽 and Boston. 🏙️</p>
                <p>While my candy coating comes in a couple flavors that help me seamlessly shape shift between a fun loving hippie at rave festival campgrounds to a smirking pool shark bending over the billiards table, on the inside I love nothing more than being your good girl, a shameless and free-spirited companion with whom it's easy to relax. Play your cards right and I would thoroughly enjoy being your:</p>
                <ul>
                    <li>sweet trans kitten,</li>
                    <li>eager bondage bunny,</li>
                    <!--
                    <li>slutty degenerate girlfriend,</li>
                    -->
                    <li>sporty skater chic, or</li>
                    <li>obedient good girl.</li>
                </ul>
                <p>I'm often rollerblading when in the city, or hiking when in the woods. In grade school I was that soft spoken, nerdy, bookish student reading STEM texts and sci-fi stories (one of my favorite genres). I'm drawn to the intimacy of sharing time together while gazing at skyline views from rooftop lounges just as much as to the thrill of making out in dark corners of the club, or even through the bars of a dungeon cage.</p>
                <p>For sweeter cravings, I offer an oasis full of affection, connection, and intimate moments that will make you feel absolutely adored. Let's go to a beach and listen to the waves, get in cold water and then make each other hot, or sail into a sunset like lovers in a movie! Let's cuddle on a balcony and watch a cityscape sparkle in the sky, or go to a comedy show to laugh and get just this side of inappropriately drunk together. I love a fancy cocktail and white tablecloth dinner but I'll smile just as much at a dive bar bending over a pool table and making bets on trick shots, snuggling in the back of a movie theater, or goofing off in the kitchen, eating dinner by lady-and-the-tramp'ing our way through a home-cooked meal before enjoying bedroom desserts.</p>
                <p>For spicier desires, I relish being a very, very good girl, the kind daddy (or mommy) can spank to make me better! If you're new to taking charge, I can tease out the dominance from you. It's a particular specialty of mine; I want to hear all about your kinks! I enjoy a very wide range of fetishes; see my <a href="#rates">Rates</a> for BDSM/kink considerations.</p>
                <p>I'm the girl who purrs appreciately when she's pet, yet also cheerfully turns naughty when given the right commands. <a href="#contact" title="Contact me">Are you ready</a> for me to be your shape shifting vixen and compassionate companion?</p>
                <p class="text-center">
                    <a href="#gallery" class="button">Gallery</a>
                    <a href="#rates" class="button">Rates &amp; Policies</a>
                    <a href="#contact" class="button">Bookings</a>
                </p>
            </div>
            <div>
                <h2>Tech specs</h2>
                <table>
                    <tbody>
                        <tr>
                            <th>
                                Height
                            </th>
                            <td>
                                5 feet, 7 inches (169cm)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Body type
                            </th>
                            <td>
                                Athletic, toned
                            </td>
                        </tr>
                        <tr>
                            <th>Cup size</th>
                            <td>AA</td>
                        </tr>
                        <tr>
                            <th>Sexual orientation</th>
                            <td>Enthusiastically bisexual</td>
                        </tr>
                        <tr>
                            <th>Tattoos</th>
                            <td><span class="icon fa-solid fa-qrcode"></span> One</td>
                        </tr>
                        <tr>
                            <th>Piercings</th>
                            <td>Ears, nipples</td>
                        </tr>
                        <tr>
                            <th>Languages</th>
                            <td>English, Hebrew, JavaScript, Shell 👩🏻‍💻</td>
                        </tr>
                        <tr>
                            <th>Home cities</th>
                            <td>
                                <ul class="fa-ul">
                                    <li><span class="fa-li fa-solid fa-city"></span>New York, NY, USA</li>
                                    <li><span class="fa-li fa-solid fa-tree-city"></span>Boston, MA, USA</li>
                                </ul>
                                <a href="#contact">Inquire</a> about <acronym title="Fly-Me-To-You">FMTY</acronym> options.
                            </td>
                        </tr>
                        <tr>
                            <th>Passport-ready</th>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <th>NDA-ready</th>
                            <td>Yes</td>
                        </tr>
                    </tbody>
                    <tfoot></tfoot>
                </table>

                <div>
                    <h2 id="all-my-links"><a href="#links">All My Links</a></h2>
                    <p>Want to see more of me? Find and follow me online via <a href="#links">my Links page</a>.</p>
                    <p class="text-center">
                        <a href="#links" class="button">All my links</a>
                    </p>
                </div>

                <p class="copyright">
                    &copy; {{ site.author }}
                </p>
            </div>
        </div>
    </section><!-- #about -->

    <section id="rates" class="panel">
        <h2>Customize your order: Rates and <a href="#policies">Policies</a></h2>
        <p>My rates for incalls and outcalls are the same, except a $100 flat-rate incall fee may apply, and any applicable transportation costs for outcalls are not included in the fee schedules below. Each in-date extension equals my base hourly rate. Please <a href="#contact">inquire</a> about rates for content shoots, collaborations, longer multi-day dates, or long-term arrangements.</p>
        <div class="inner split">
            <div>
                <table>
                    <caption>
                        GFE/vanilla full service
                    </caption>
                    <tbody>
                        <tr>
                            <th>
                                1 hour
                                <a href="#contact" data-booking-inquiry-prospect-duration="1">Book Now</a>
                            </th>
                            <td>
                                <p>$400 USD</p>
                                <details name="gfe-details">
                                    <summary>Details</summary>
                                        Dedicated playdate. Discounted rates available for longer bookings as shown. Does not include incall fee or transportation cost.
                                </details>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                90 minutes
                                <a href="#contact" data-booking-inquiry-prospect-duration="1.5">Book Now</a>
                            </th>
                            <td>
                                <p>$540 USD</p>
                                <details name="gfe-details">
                                    <summary>Details</summary>
                                    10% off, recommended minimum.
                                </details>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                2 hours
                                <a href="#contact" data-booking-inquiry-prospect-duration="2">Book Now</a>
                            </th>
                            <td>
                                <p>$700 USD</p>
                                <details name="gfe-details">
                                    <summary>Details</summary>
                                    12.5% off
                                </details>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                3 hours
                                <a href="#contact" data-booking-inquiry-prospect-duration="3">Book Now</a>
                            </th>
                            <td>
                                <p>$960 USD</p>
                                <details name="gfe-details">
                                    <summary>Details</summary>
                                    20% off, minimum required for travel outside <a href="#about">my home cities</a> when not touring.
                                </details>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                4 hours
                                <a href="#contact" data-booking-inquiry-prospect-duration="4">Book Now</a>
                            </th>
                            <td>
                                <p>$1,200 USD</p>
                                <details name="gfe-details">
                                    <summary>Details</summary>
                                    25% off, requires outing.
                                </details>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Overnight (~14 hours)
                                <a href="#contact" data-booking-inquiry-prospect-duration="14">Book Now</a>
                            </th>
                            <td>
                                <p>$2,400 USD</p>
                                <details name="gfe-details">
                                    <summary>Details</summary>
                                    50% discount off my hourly rate. Perfect for an evening full of cuddles, or sprinkled with light fetishes like spanking and modest restraints. Requires outing, shared meal, and beauty sleep.
                                </details>
                            </td>
                        </tr>
                        <tr>
                            <th>Getaway weekend</th>
                            <td>
                                <p>$4,000 USD</p>
                                <details name="gfe-details">
                                    <summary>Details</summary>
                                    Party hard, play harder! I'll be all yours for two full days (except for some solo moments to let us freshen up for one another in our mysterious ways), so you can enjoy a weekend escape with me. Requires outings for some fresh air! Ask about fly-me-to-you options!
                                </details>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <table>
                    <caption>
                        Pro-submissive/BDSM full service
                    </caption>
                    <tbody>
                        <tr>
                            <th>1 hour</th>
                            <td>
                                <p>$600 USD</p>
                                <details name="pro-sub-details">
                                    <summary>Details</summary>
                                    Make me vulnerable, watch me bruise; full service with BDSM is available when negotiated. Available only to returning friends after our first date. Discounted rates available for longer bookings as shown. Does not include incall fee or transportation cost.
                                </details>
                            </td>
                        </tr>
                        <tr>
                            <th>2 hours</th>
                            <td>
                                <p>$1,000 USD</p>
                                <details name="pro-sub-details">
                                    <summary>Details</summary>
                                    16.7% off, recommended minimum.
                                </details>
                            </td>
                        </tr>
                        <tr>
                            <th>3 hours</th>
                            <td>
                                <p>$1,440 USD</p>
                                <details name="pro-sub-details">
                                    <summary>Details</summary>
                                    20% off, requires time for warmup and cool down/after care.
                                </details>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <table>
                    <caption>
                        Add-ons and other services
                    </caption>
                    <tbody>
                        <tr>
                            <th>Custom photo (1 photo base rate)</th>
                            <td>
                                <p>$20 USD</p>
                                <details name="add-on-details">
                                    <summary>Details</summary>
                                    A pic taken just for you. Price is subject to change based on photo request.
                                </details>
                            </td>
                        </tr>
                        <tr>
                            <th>Texting (30 minutes)</th>
                            <td>
                                <p>$40 USD</p>
                                <details name="add-on-details">
                                    <summary>Details</summary>
                                    Perfect for dipping one's toe into what our unique chemistry is like.
                                </details>
                            </td>
                        </tr>
                        <tr>
                            <th>Introductory phone call (30 minutes)</th>
                            <td>
                                <p>$50 USD</p>
                                <details name="add-on-details">
                                    <summary>Details</summary>
                                    Friendly, casual audio call to help you decide whether you'd like to book an in-person session, prepare for our date by chatting, discussing any logistics, or simply to quell any concerns. Price of the call is deducted from your deposit if you do choose to book.
                                </details>
                            </td>
                        </tr>
                        <tr>
                            <th>Video date (1 hour)</th>
                            <td>
                                <p>$150 USD</p>
                                <details name="add-on-details">
                                    <summary>Details</summary>
                                    Virtual tryst over private video chat.
                                </details>
                            </td>
                        </tr>
                        <tr>
                            <th>Social-only date (charged per hour)</th>
                            <td>
                                <p>$150 USD</p>
                                <details name="add-on-details">
                                    <summary>Details</summary>
                                    ☕️🍻 Casual, zero-pressure meet and greet/meet cute; 🍝 dinner date, 🏸 sporting activity, 🧺 picnic, etcetera. Does not include transportation or activity cost.
                                </details>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <p class="text-center">
            <a href="#tours" class="button">Check Availability</a>
            <a href="#contact" class="button">Ready to book?</a>
            <a href="#gallery" class="button">View Gallery</a>
        </p>
        <div class="inner split">
            <h2 id="policies">Policies</h2>
            <div>
                <h3 id="deposit-policy">Deposit Policy</h3>
                <p>I accept deposits via payment apps or gift cards. Always leave the payment app's transaction note/memo field blank!</p>
                <ul class="fa-ul">
                    <li><span class="fa-li fa-solid fa-house"></span>One-quarter (25%) of the total booking cost while in my hometown.</li>
                    <li><span class="fa-li fa-solid fa-plane"></span>One-third (33%) of the total booking cost while touring.</li>
                </ul>
                <p>Deposits are non-refundable and non-transferable, except when cancelling in certain cases. (See <a href="#cancellation-policy">my cancellation policy</a> for details.) Your date is not confirmed until its deposit is confirmed.</p>
            </div>
            <div>
                <h3 id="cancellation-policy">Cancellation Policy</h3>
                <p>It's okay, you can always cancel or reschedule a date for any reason, no questions asked. If you cancel with:</p>
                <ul>
                    <li>3 or more days (72 hours) notice, the full amount (100%) of your non-refundable deposit can be applied to another date.</li>
                    <li>3 to 1 days (72-24 hours) notice, half (50%) of your non-refundable deposit can be applied one time only to another date.</li>
                    <li>1 day or less (24 hours) notice, your non-refundable deposit will be forfeited.</li>
                </ul>
                <p>When applying the deposit for a cancelled date towards the next, that next date must be no later than 3 months after your original booking.</p>
                <p>In the unlikely event that I have to cancel our date, you'll promptly have your full deposit returned to you.</p>
            </div>
        </div>
    </section><!-- #rates -->

    <section id="contact" class="panel">
        <div class="inner split">
            <div>
                <h2 id="booking-form">Booking Form</h2>
                <p>Are you ready for me to be <a href="#about">your shape shifting vixen or kinky companion</a>?</p>
                <ol>
                    <li>First, ensure you understand my <a href="#tours">availability</a>, <a href="#rates">rates, and policies</a>.</li>
                    <li>Next, review <a href="#contact-dos-and-donts">my "do's and don'ts"</a> for making first contact.</li>
                    <li>Then <strong>complete the form below</strong> to help draft <a href="#contact-instructions">your first message to me</a>. (Or, if you're not a fan of filling forms, <a href="#connection-methods">compose a bespoke love note yourself</a>.)
                </ol>
                <form name="booking_inquiry_form" id="booking-inquiry-form" action="#" method="GET" class="row row-cols-lg-auto g-3 align-items-center">
                    <blockquote>
                        <p>Hi, Violet.</p>
                        <fieldset class="form-group"><legend>Please allow me to introduce myself.</legend>
                            <p>
                                <label for="booking-inquiry-prospect-name" class="form-label">My name is</label>
                                <input type="text" class="form-input" id="booking-inquiry-prospect-name" name="booking_inquiry_prospect_name" required="required" placeholder="Write your name here" />.

                                <label for="booking-inquiry-prospect-preferred-contact-method" class="form-label">I prefer that we communicate using</label>
                                <select name="booking_inquiry_prospect_preferred_contact_method" id="booking-inquiry-prospect-preferred-contact-method"
                                    class="form-select"
                                    required="required"
                                >
                                    <option value="" disabled="disabled" selected="selected">Choose your preferred contact method</option>
                                    <option value="signal">Signal Private Messenger</option>
                                    <option value="whatsapp">WhatsApp</option>
                                    <option value="email">email</email>
                                    <option value="sms">SMS/text message</option>
                                </select>.
                            </p>
                            <p>
                            <label for="booking-inquiry-prospect-preferred-screening-method" class="form-label">I have read your <a href="#screening-options">screening requirements</a> and am comfortable being screened by sending you</label>
                                <select name="booking_inquiry_prospect_preferred_screening_method" id="booking-inquiry-prospect-preferred-screening-method"
                                    class="form-select"
                                    required="required"
                                >
                                    <option value="" disabled="disabled" selected="selected">Choose how you will verify yourself</option>
                                    <option>employment information</option>
                                    <option>my government-issued identity document</option>
                                    <option>a deposit for a social date at a public venue</option>
                                </select>.
                            </p>
                        </fieldset>

                        <fieldset class="form-group"><legend>I've been drawn to you since&hellip;</legend>
                            <p>
                                <label for="booking-inquiry-prospect-source-referral" class="form-label">I found your Web site via</label>
                                <select name="booking_inquiry_prospect_source_referral" id="booking-inquiry-prospect-source-referral"
                                    class="form-select"
                                    required="required"
                                >
                                    <option value="" disabled="disabled" selected="selected">Share where you first learned about me</option>
                                    <option>Bluesky</option>
                                    <option>Fansly</option>
                                    <option>ManyVids</option>
                                    <option>OnlyFans</option>
                                    <option>TER board/review</option>
                                    <option>TS4Rent</option>
                                    <option>Tryst</option>
                                    <option>X/Twitter</option>
                                    <option>a content collaboration I saw you in</option>
                                    <option>another provider</option>
                                    <option>directly from you (we've met!)</option>
                                    <option>search engine results</option>
                                    <option>word of mouth</option>
                                </select>.
                            </p>
                            <p>
                                <label for="booking-inquiry-prospect-attraction" class="form-label">I really like your&hellip;</label>
                                <textarea name="booking_inquiry_prospect_attraction" id="booking-inquiry-prospect-attraction"

                                    class="form-input"
                                    placeholder="Photos? Vibe? Write what compelled you to book with me. Use a professional tone avoiding sexually explicit language."></textarea>
                            </p>
                        </fieldset>

                        <fieldset class="form-group"><legend>I'm ready to plan a date!</legend>
                            <p>
                                <label for="booking-inquiry-prospect-call-type" class="form-label">May I reserve an</label>
                                <select name="booking_inquiry_prospect_call_type" id="booking-inquiry-prospect-call-type"
                                    class="form-select"
                                    required="required"
                                    aria-label="Booking call type (incall or outcall)"
                                >
                                    <option value="" disabled="disabled" selected="selected">Choose INCALL or OUTCALL</option>
                                    <option value="incall">incall (provider hosts)</option>
                                    <option value="outcall">outcall (client hosts)</option>
                                </select>

                                <label for="booking-inquiry-prospect-duration" class="form-label">for a duration of</label>
                                <input type="number" name="booking_inquiry_prospect_duration" id="booking-inquiry-prospect-duration" class="form-input" value="" min="1" max="14" step=".5" required="required" placeholder="#"> hour(s)

                                <label for="booking-inquiry-prospect-location" class="form-label">when I will be in</label>
                                <input type="text" name="booking_inquiry_prospect_location" id="booking-inquiry-prospect-location"
                                class="form-input" placeholder="Anytown, USA" required="required" />

                                <label for="booking-inquiry-prospect-preferred-datetime" class="form-label">on</label>
                                <input type="datetime-local" class="form-input"
                                    name="booking_inquiry_prospect_preferred_datetime"
                                    id="booking-inquiry-prospect-preferred-datetime"
                                    min="{{ "now" | date: "%Y-%m-%dT00:00" }}"
                                    required="required"
                                />

                                <label for="booking-inquiry-prospect-alternate-datetime" class="form-label">or, alternatively, on</label>
                                <input type="datetime-local" class="form-input"
                                    name="booking_inquiry_prospect_alternate_datetime"
                                    id="booking-inquiry-prospect-alternate-datetime"
                                    min="{{ "now" | date: "%Y-%m-%dT00:00" }}"
                                    required="required"
                                />.
                                Would either of these options allow us to meet?
                            </p>
                        </fieldset>
                        <fieldset><legend>I'm excited to hear from you!</legend>
                            <p>
                                <input type="checkbox" class="form-check-input" name="booking_inquiry_confirmed_fine_print" id="booking-inquiry-confirmed-fine-print" value="yes" required="required" />
                                <label for="booking-inquiry-confirmed-fine-print">I have read and understood the information on your Web site, including your <a href="#rates">rates, policies</a>, and <a href="#tours">availability</a>.</label>
                            </p>

                            <p class="text-center">
                                <button type="reset">1. Copy inquiry to clipboard</button>
                                <button type="submit">2. Send inquiry</button>
                            </p>
                        </fieldset>
                    </blockquote>
                </form>
            </div>
            <div>
                <h2 id="connection-methods">Connection Methods</h2>
                <p>I can be reached directly via any of the following channels. I strongly prefer messaging over <a href="{% include signal-booking.url %}">Signal Private Messenger</a>. <small>(Bookings made via Signal Private Messenger earn you a $40 USD discount as a thank you for helping to protect your privacy and mine.)</small></p>
                <p>Otherwise, you may also contact me using <a href="{% include whatsapp-booking.url %}">WhatsApp</a> or via <a href="{% include mailto-booking.url %}">email addressed to <code>{{ site.contact.email }}</code></a>, and finally by <a href="{% include sms-booking.url %}">text/SMS to {{ site.contact.sms }}</a> if necessary.</p>
                <p>How would you like to book? Tap the icon to choose:</p>
                <ul class="icons text-center">
                    <li style="display: inline-block; padding-right: 1em;">
                        <a id="signal-contact-link" class="icon fa-brands fa-signal-messenger fa-5x" href="{% include signal-booking.url %}" title="Signal">
                            <!--<span class="label">Signal Private Messenger</label>-->
                        </a>
                    </li>
                    <li style="display: inline-block; padding-right: 1em;">
                        <a id="whatsapp-contact-link" class="icon fa-whatsapp fa-5x" href="{% include whatsapp-booking.url %}" title="WhatsApp">
                            <!--<span class="label">WhatsApp</label>-->
                        </a>
                    </li>
                    <li style="display: inline-block; padding-right: 1em;">
                        <a id="email-contact-link" class="icon fa-envelope fa-5x" href="{% include mailto-booking.url %}" title="Email">
                            <!--<span class="label">Email</label>-->
                        </a>
                    </li>
                    <li style="display: inline-block;">
                        <a id="sms-contact-link" class="icon fa-comment-sms fa-5x" href="{% include sms-booking.url %}" title="Text/SMS">
                            <!--<span class="label">Text/SMS</label>-->
                        </a>
                    </li>
                </ul>
                <p>Please be patient as <strong>it may take several days for me to reply.</strong> In the meantime, explore the <a href="https://goodclientguide.com/" target="_blank">Good Client Guide</a> for more helpful advice about how to prepare for your date with a provider like me.</p>
            </div>
        </div><!-- .inner.split -->
        <div class="inner split">
            <div>
                <h2 id="contact-instructions">In your first message</h2>
                <p><a href="#booking-form">My booking form</a> can help you write a message with all the information I need. When writing me, always include:</p>
                <ul class="fa-ul">
                    <li><span class="fa-li fa-solid fa-signature"></span>Your preferred name.</li>
                    <li><span class="fa-li fa-solid fa-calendar"></span>When you're hoping to see me; supply <em>both</em> a preferred and an alternate date and time.</li>
                    <li><span class="fa-li fa-solid fa-hourglass"></span>How long you'd like to see me for. See my <a href="#rates">rates</a> for helpful guidance in selecting a duration.</li>
                    <li><span class="fa-li fa-solid fa-map"></span>Where you want to meet: my place/"incall," your place/"outcall," or a venue for a social date/meet and greet. Look up <a href="#tours">my travel dates</a> if you're not sure where I'll be.</li>
                    <li><span class="fa-li fa-solid fa-id-card"></span>If this is our first contact, choose a <a href="#screening-options">screening method</a> you're comfortable using. Screening is easy and mandatory.</li>
                </ul>
            </div>
            <div>
                <h2 id="contact-dos-and-donts">Do's and don'ts</h2>
                <p>I respond best to respectful inquiries from individuals or couples who are fueled by my energy, are hungry for intimacy, or eager to shed lingering shames. Please reach out without fear of your gender, race, ethnicity, size, or religion.</p>
                <p>When writing me, please:</p>
                <table>
                    <thead>
                        <tr>
                            <th>do&hellip;</th>
                            <th>do not&hellip;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span class="icon fa-solid fa-heart"></span> mention any specific needs, desires, or concerns you have in a respectful, professional tone.
                            </td>
                            <td>
                                <span class="icon fa-solid fa-heart-crack"></span> use sexually explicit language.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="icon fa-solid fa-person"></span> speak only for yourself, even if you are part of a couple or group; each member of your party must contact me individually so I know everyone is on the same page and consenting.
                            </td>
                            <td>
                                <span class="icon fa-solid fa-people-group"></span> speak for anyone other than yourself in your party if you are part of a couple or group.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="fa-stack">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <span class="fa fa-stack-1x fa-inverse fa-plus18"></span>
                                </span> be past the age of majority, usually eighteen years of age or older. I only ever see people who are legally considered adults.
                            </td>
                            <td>
                                <span class="fa-stack">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <span class="fa fa-stack-1x fa-inverse fa-minus18"></span>
                                </span> under any circumstances, ever contact me if you are or on behalf of a minor. I will cease correspondence with you immediately upon learning that a minor is in any way involved.
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>Explore the <a href="https://goodclientguide.com/" target="_blank">Good Client Guide</a> for more communication tips and generally useful information.</p>
            </div>
            <div>
                <h2 id="screening-options">Screening options</h2>
                <p>If you're <a href="#contact-instructions">reaching out to me for the first time</a>, you'll need to provide some lightweight screening info. I treat your information with the utmost confidentiality, as discretion and screening helps assure our mutual safety and comfort. You can successfully screen with any <em>one</em> of the following options:</p>
                <ul class="fa-ul">
                    <li><span class="fa-li fa-solid fa-image-portrait"></span>A selfie plus a social media profile link plus a non-burner phone number, <em>or</em></li>
                    <li><span class="fa-li fa-solid fa-id-card"></span>a selfie of yourself holding a valid government-issued photo ID card, <em>or</em></li>
                    <li><span class="fa-li fa-solid fa-handshake"></span>a meet-and-greet/social date with deposit at my social <a href="#rates">rate</a>.</li>
                </ul>
                <p>I'm looking forward to hearing from you! <span class="icon fa-solid fa-heart"></span> <a href="#connection-methods">Write me a love note!</a></p>
            </div>
        </div><!-- .inner.split -->
    </section><!-- #contact -->

    <section id="tours" class="panel">
        <div class="inner split">
            <div>
                <h2 id="tours-and-travel-loations">Tours and Travel locations</h2>
                <p>I often travel for my own pleasure, so book early to ensure I can carve out some time for your pleasure, too. 💖 Your city's not listed? Bring me to your city by <a href="#contact">booking me</a> for a <acronym title="Fly-Me-To-You">FMTY</acronym>!</p>
                <iframe id="tours-and-travel-calendar"
                    loading="lazy"
                    src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FNew_York&showPrint=0&title=Violet%20Rollergirl's%20Tours%20and%20Travel%20Locations&src=N2MzOGRhNDE4ZTE5MmM2NGZjMGFhOTQwM2U3YWY0YTNjOTQzNTMwMDFkYTE2ZWNjZTJhODk5MGZmZGMyZmU3OUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%239E69AF&color=%230B8043"
                    style="border:solid 1px #777"
                    width="100%" height="600"
                    frameborder="0"
                    scrolling="no"></iframe>
            </div>
            <div>
                <h2 id="availability">Availability</h2>
                <p>I'm fortunate to be quite flexible and can usually be available at most times of the day or night. That said, <strong>I'm not a morning kitten, and planning our date 2 or more days in advance will give us the best experience together.</strong> Same-day trysts are <em>sometimes</em> possible with a rush fee of $100 USD, <abbr title="If and Only If">IFF</abbr> seeing one another is feasible and you complete the required screening process promptly. See my <a href="#rates">Rates</a> page for more complete information about my considerations.</p>
                <p>With advanced scheduling, I'm also passport-ready and available:</p>
                <ul class="fa-ul">
                    <li><span class="fa-li fa-solid fa-train"></span>anywhere with train access in the tri-state area for bookings of 3 hours or more.</li>
                    <li><span class="fa-li fa-solid fa-plane"></span>domestically (within the continental United States) for bookings of 6 hours or more.</li>
                    <li><span class="fa-li fa-solid fa-earth-europe"></span>some international locales.</li>
                </ul>
                <p class="text-center">
                    <a href="#rates" class="button">Rates &amp; Policies</a>
                    <a href="#contact" class="button">Bookings</a>
                </p>
            </div>
    </section>

    <section id="links" class="panel">
        <div class="inner split">
            {% for group in site.social_urls %}
            <div class="text-center">
                <h2>{{ group.group_name }}</h2>
                <ul class="icons">
                    {% for item in group.items %}
                    <li>
                        <a target="_blank" href="{{ item.url }}" class="icon fa-2x fa-{{ item.icon | downcase }}" title="{{ item.title }}">
                            <span class="label">{{ item.label }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </section>

</div><!-- #wrapper -->
