{% comment %}
{% endcomment %}

<p>You can bring me to you by <a href="{% link resources/for-clients/booking-guide/index.md %}#contact">booking</a> a date. As a general rule of thumb, with advanced scheduling, I'm passport-ready and available to travel:</p>
<ul class="fa-ul">
    <li><span class="fa-li fa-solid fa-car-side"></span>by car to points within an hour's distance for bookings of 90 minutes or longer.</li>
    <li><span class="fa-li fa-solid fa-train"></span>anywhere with train access in the tri-state area for bookings of 3 hours or longer.</li>
    <li><span class="fa-li fa-solid fa-plane"></span>domestically (within the continental United States) for bookings of 6 hours or longer.</li>
    <li><span class="fa-li fa-solid fa-earth-europe"></span>some international locales.</li>
</ul>
<p>Similar to outcalls, I can itemize travel expenses and will ask you to cover them up-front.</p>
