{% comment %}
Boilerplate for embedded YouTube content.
{% endcomment %}

<div class="align-center">
<iframe style="max-width: 100%;" src="https://www.youtube-nocookie.com/embed/{{ include.vid }}?{% if include.start %}start={{ include.start }}{% endif %}" title="Use a 2nd Profile to Stop Your Apps Communicating! by Naomi Brockwell TV" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
