{% comment %}
This template is inserted at the bottom of every page.
{% endcomment %}

<p id="back-to-top">
    <a href="#wrapper" class="button" title="Return to the top of this page."><span class="icon fa-solid fa-arrow-up"></span></a>
</p>

<!-- Scripts -->
<script src="{% link assets/js/jquery.min.js %}"></script>
<script src="{% link assets/js/jquery.poptrox.js %}"></script>
<script src="{% link assets/js/skel.min.js %}"></script>
<script src="{% link assets/js/util.js %}"></script>
<script src="{% link assets/js/exif.js %}"></script>
<!--[if lte IE 8]>
<script src="{% link assets/js/ie/respond.min.js %}"></script><![endif]-->
<script src="{% link assets/js/main.js %}"></script>
