{% comment %}
This template is inserted at the bottom of every page.
{% endcomment %}

<p id="back-to-top">
    <a href="#wrapper" class="button" title="Return to the top of this page."><span class="icon fa-solid fa-arrow-up"></span></a>
</p>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="{% link assets/js/jquery.poptrox.js %}"></script>
<script src="{% link assets/js/skel.min.js %}"></script>
<script src="{% link assets/js/util.js %}"></script>
<script type="module" src="{% link assets/js/tours-ticker.mjs  %}"></script>
<script src="{% link assets/js/main.js %}"></script>
<script src="{% link assets/js/rollergirl-booking-form.js %}"></script>
