{% comment %}
{% endcomment %}

{% assign gallery_images = site.static_files | where: "gallery_image", true %}
{% assign first_image = gallery_images | first %}
{% assign image_base_path = first_image.path | split: "/" | slice: 0, 3 | join: "/" %}
{% for image in gallery_images %}
<article class="thumb">
    <a href="{{ site.url }}{{ image_base_path }}/fulls/{{ image.name }}" class="image">
        <img loading="lazy" src="{{ site.url }}{{ image_base_path }}/thumbs/{{ image.name }}"
             alt=""
             data-name="{{ image.name }}"
             data-position="{{ image.position }}"
         /></a>
    <!--<h2></h2>
    <p></p>-->
</article>
{% endfor %}
