{% comment %}
{% endcomment %}
<div class="inner" id="google-calendar-appointment-booking-form">
<h2>Book {{ site.title }} via Google Calendar</h2>
<iframe src="https://calendar.google.com/calendar/u/0/appointments/schedules/AcZssZ0Zuw3kumgeipK_SCkrlYkuYrTK6emwcxt23KKbMx5t_YBM9PJa0CxggBtejGGoSU20Yn_48KER?gv=true" width="100%" height="600" style="background-color: #fff;">
    <p><a href="https://calendar.google.com/calendar/u/0/appointments/schedules/AcZssZ0Zuw3kumgeipK_SCkrlYkuYrTK6emwcxt23KKbMx5t_YBM9PJa0CxggBtejGGoSU20Yn_48KER?gv=true" title="{{ site.title }} Appointment Booking Form">Book an appointment with {{ site.title }} via Google Calendar.</a></p>
</iframe>
</div>
