<title>{{ site.title }} • {{ site.subtitle }}</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
<link rel="apple-touch-icon" sizes="180x180" href="{% link apple-touch-icon.png %}"/>
<link rel="icon" type="image/png" sizes="32x32" href="{% link favicon-32x32.png %}"/>
<link rel="icon" type="image/png" sizes="16x16" href="{% link favicon-16x16.png %}"/>
<link rel="manifest" href="{% link site.webmanifest %}"/>
{% comment %}<!-- Bootstrap CSS, if we want it. -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
{% endcomment %}
<!--[if lte IE 8]>
<script src="{% link assets/js/ie/html5shiv.js %}"></script><![endif]-->
<link rel="stylesheet" href="{% link assets/css/main.min.css %}"/>
<!--[if lte IE 9]>
<link rel="stylesheet" href="{% link assets/css/ie9.css %}"/><![endif]-->
<!--[if lte IE 8]>
<link rel="stylesheet" href="{% link assets/css/ie8.css %}"/><![endif]-->
<style>
acronym {
    cursor: help;
}
.text-center {
    text-align: center;
}
.split-even {
    display: flex;
}
.split-even > div {
    flex: 1;
}
.split-even > div:not(:last-child) {
    border-right: 1px dotted;
    margin-right: 10px;
    margin-bottom: 1em;
}
#navpanel ul {
    margin: 0;
    padding: 0;
    border: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#navpanel a {
    display: block;
    padding: 1em;
    text-align: center;
    border: 0;
}
#navpanel a:hover {
    background: #34a58e;
    color: #fff !important;
}
#rates details {
    font-size: smaller;
    text-align: left;
}
#rates summary,
#rates td {
    text-align: right;
}

h1:target,
h2:target,
h3:target,
h4:target,
h5:target,
h6:target {
    border-radius: 20px;
    box-shadow: 0px 0px 50px white;
    padding-left: 10px;
    transition: box-shadow 2s;
}

.fa-plus18 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 80%;
    font-weight: bold;
}
.fa-plus18:before {
        content: "18+";
}
.fa-minus18:before {
        content: "\1F51E";
}

#booking-inquiry-form .form-label,
#booking-inquiry-form .form-input,
#booking-inquiry-form .form-select {
    display: inline;
    width: auto;
}
#booking-inquiry-form textarea.form-input {
    width: 100%;
}
</style>
