<header id="header">
    <h1>
        <a href="index.html">
            <strong>{{ site.title }}</strong><br />
            {{ site.subtitle }}
        </a>
    </h1>
    <nav>
        <ul>
            <li><a href="#navpanel" class="icon fa-bars"><span>Menu</span></a></li>
            <!--
            <li><a href="https://violetrollergirl.tryst.link/#availability" target="_blank" class="icon fa-plane">Tours</a></li>
            <li><a href="#rates" class="icon fa-coins">Rates</a></li>
            <li><a href="#contact" class="icon fa-envelope-open">Contact</a></li>
            -->
        </ul>
    </nav>
</header>
