{% comment %}
Main Navigation Panel for the default layout.
{% endcomment %}
<nav>
    <ul class="fa-ul">
        <li><a href="#about" title="Tech Specs"><span class="icon fa-solid fa-circle-info"></span>About Me</a></li>
        <li><a href="{% link index.html %}#gallery" title="Unboxing Photos"><span class="icon fa-solid fa-images"></span>Gallery</a></li>
        <li><a href="#rates" title="Product Line and Fine Print"><span class="icon fa-solid fa-coins"></span>Rates &amp; Policies</a></li>
        <li><a href="#contact" title="Booking Form"><span class="icon fa-solid fa-pen-nib"></span>Contact Me</a></li>
        <li><a href="#tours" title="Tours, Travel, and Availability"><span class="icon fa-solid fa-calendar"></span>Calendar</a></li>
        <li><a href="#links" title="Tips, Socials, Ads, and more"><span class="icon fa-solid fa-chain"></span>Links</a></li>
        <li><a href="#faq" title="Frequently Asked Questions"><span class="icon fa-solid fa-circle-question"></span><acronym title="Frequentyl Asked Questions">FAQ</acronym></a></li>
        <li><a href="#friends" title="Expansion Packs"><span class="icon fa-solid fa-people-group"></span>Duos &amp; More-o's</a></li>
    </ul>
</nav>
