{% comment %}
Main Navigation Panel for the default layout.
{% endcomment %}
<nav>
    <ul class="fa-ul">
        <li><a href="#about" title="About {{ site.title }}"><span class="icon fa-solid fa-circle-info"></span>Tech Specs</a></li>
        <li><a href="#gallery" title="Gallery and Visuals"><span class="icon fa-solid fa-images"></span>Unboxing Photos</a></li>
        <li><a href="#rates" title="Rates &amp; Policies"><span class="icon fa-solid fa-coins"></span>Product Line</a></li>
        <li><a href="#contact" title="Booking Form"><span class="icon fa-solid fa-pen-nib"></span>First Contact</a></li>
        <li><a href="#tours" title="Tours, Travel, and Availability"><span class="icon fa-solid fa-plane"></span>Locations</a></li>
        <li><a href="#links" title="Socials, Ads, More"><span class="icon fa-solid fa-chain"></span>Links</a></li>
        <li><a href="#faq" title="Frequently Asked Questions"><span class="icon fa-solid fa-circle-question"></span><acronym title="Questions and Answers">Q&amp;A</acronym></a></li>
        <li><a href="#friends" title="Friends and Duo Partners"><span class="icon fa-solid fa-people-group"></span>Expansion Packs</a></li>
    </ul>
</nav>
