{% comment%}
{% endcomment %}
<div class="inner split">
    <div>
        <h2 id="tours-and-travel-locations">Tours and Travel locations</h2>
        <p>I often travel for my own pleasure, so book early to ensure I can carve out some time for your pleasure, too. 💖 <a href="#tours-and-travel-calendar">My travel calendar</a> is updated from time to time, and reflects my best estimate at any given time. Your city's not listed? Bring me to your city by <a href="#contact">booking me</a> for a <acronym title="Fly-Me-To-You">FMTY</acronym>!</p>
        <iframe id="tours-and-travel-calendar"
            loading="lazy"
            src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;ctz=America%2FNew_York&amp;showPrint=0&amp;title=Violet%20Rollergirl&rsquo;s%20Tours%20and%20Travel%20Locations&amp;src=N2MzOGRhNDE4ZTE5MmM2NGZjMGFhOTQwM2U3YWY0YTNjOTQzNTMwMDFkYTE2ZWNjZTJhODk5MGZmZGMyZmU3OUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%239E69AF&amp;color=%230B8043"
            style="border:solid 1px #777; padding-left: 0;"
            width="100%" height="600"
            frameborder="0"
            scrolling="no"></iframe>
    </div>
    <div>
        <h2 id="availability">Availability</h2>
        <p>I'm fortunate to be quite flexible and with proper planning I can usually be available at most times of the day or night. That said, I'm not a morning kitten, and <strong>planning our date 2 or more days in advance will give us the best experience together.</strong> Same-day trysts are <em>sometimes</em> possible <acronym title="If and Only If">IFF</acronym> seeing one another is feasible, but may incur a rush fee.</p>
        <p>Occasionally, I may publish last-minute availability on social media; see my <a href="#links">Links</a> page to learn where you can find and follow me online.</p>
        {% include availability-minimums.html %}
        <p class="button-container">
            <a href="#rates" class="button"><span class="icon fa-solid fa-coins"></span> Rates</a>
            <a href="#policies" class="button"><span class="icon fa-solid fa-file-contract"></span> Policies</a>
            <a href="#contact" class="button"><span class="icon fa-solid fa-pen-nib"></span> Booking Form</a>
        </p>
    </div>
