{% comment %}
{% endcomment %}

<header id="Hero">
    <h2>Hello, friend! I'm Violet.</h2>
    <h3>Your bubbly, outgoing trans GFE and (optionally) kinky companion. <a href="#{{ site.title | slugify }}">Let&rsquo;s get acquainted!</a></h3>
    <p class="align-center">
        <a href="#{{ site.title | slugify }}" title="Enter my Web site">
            <img loading="lazy" src="{% link images/rollergirl-cyberpunk-banner.jpg %}" alt="" />
        </a>
    </p>
</header><!-- #Hero -->
<div class="inner split">
    <div>
        <h2 id="{{ site.title | slugify }}">{{  site.title }}</h2>
        <p>Also known as &ldquo;the girl with <a href="#faq-what-does-your-qr-code-tramp-stamp-go-to">the QR code tattoo</a>,&rdquo; I'm Vi, a bubbly, outgoing, and adventurous trans girlfriend experience with an optional kinky, submissive twist.</p>
        <p>Confident and kind, a little kittenish, and always curious in the most exciting ways, I&rsquo;m equal parts whip-smart and whipping girl, fit and athletic, with soft hair in curly red ringlets and a natural aesthetic that can be hard femme, curious kitten, sexy librarian, cyberpunk hentai seductress, or a fantasy somewhere in between.</p>
        <p>I host at convenient and well-equipped private incall spaces in and around NYC 🗽 and Boston. 🏙️</p>
        <p class="align-center">
            <img loading="lazy" src="{% link images/gallery-originals/001-handcuffed-to-the-rail.jpg %}" alt="" />
        </p>
        <p>While my candy coating comes in a couple flavors that help me seamlessly shape shift between a fun loving hippie at rave festival campgrounds to a smirking pool shark bending over the billiards table, on the inside I love nothing more than being your good girl, a shameless and free-spirited companion with whom it's easy to relax. Play your cards right and I would thoroughly enjoy being your:</p>
        <ul>
            <li>sweet trans kitten,</li>
            <li>cyberpunk hentai succubus,</li>
            <li>eager bondage bunny,</li>
            <li>slutty degenerate girlfriend,</li>
            <li>sporty skater chic, or</li>
            <li>obedient good girl.</li>
        </ul>
        <p>I'm often rollerblading when in the city, or hiking when in the woods. In Jewish grade school I was that soft spoken, nerdy, bookish student reading STEM texts and sci-fi stories (one of my favorite genres). I'm drawn to the intimacy of sharing time together while gazing at skyline views from rooftop lounges just as much as to the thrill of making out in dark corners of the club, or even through the bars of a dungeon cage.</p>
        <p>For sweeter cravings, I offer an oasis full of affection, connection, and intimate moments that will make you feel absolutely adored. Let's go to a beach and listen to the waves, get in cold water and then make each other hot, or sail into a sunset like lovers in a movie! Let's cuddle on a balcony and watch a cityscape sparkle in the sky, or go to a comedy show to laugh and get just this side of inappropriately drunk together. I love a fancy cocktail and white tablecloth dinner but I'll smile just as much at a dive bar bending over a pool table and making bets on trick shots, snuggling in the back of a movie theater, or goofing off in the kitchen, eating dinner by lady-and-the-tramp'ing our way through a home-cooked meal before enjoying bedroom desserts.</p>
        <p>For spicier desires, I relish being a very, very good girl, the kind that daddy (or mommy) can spank to make me better! If you're new to taking charge, I can tease out the dominance from you. It's a particular specialty of mine; I want to hear all about your kinks! I enjoy a very wide range of fetishes.</p>
        <p>I'm the girl who purrs appreciately when she's pet, yet also cheerfully turns naughty when given the right commands. <a href="#contact" title="Contact me">Are you ready</a> for me to be your shape shifting vixen and compassionate companion?</p>
        <p class="button-container">
            <a href="#gallery" class="button"><span class="icon fa-solid fa-images"></span> Gallery</a>
            <a href="#rates" class="button"><span class="icon fa-solid fa-coins"></span> Rates</a>
            <a href="#policies" class="button"><span class="icon fa-solid fa-file-contract"></span> Policies</a>
            <a href="#contact" class="button"><span class="icon fa-solid fa-pen-nib"></span> Booking Form</a>
        </p>
    </div>
    <div>
        <h2 id="tech-specs">Tech specs</h2>
        <table>
            <tbody>
                <tr id="tech-spec-height">
                    <th>
                        Height
                    </th>
                    <td>
                        5 feet, 7 inches (169cm)
                    </td>
                </tr>
                <tr id="tech-spec-body-type">
                    <th>
                        Body type
                    </th>
                    <td>
                        Athletic, toned
                    </td>
                </tr>
                <tr id="tech-spec-cup-size">
                    <th>Cup size</th>
                    <td>Natural AA</td>
                </tr>
                <tr id="tech-spec-sexual-orientation">
                    <th>Sexual orientation</th>
                    <td>Enthusiastically bisexual</td>
                </tr>
                <tr id="tech-spec-tattoos">
                    <th>Tattoos</th>
                    <td><span class="icon fa-solid fa-qrcode"></span> One (<a href="#faq-what-does-your-qr-code-tramp-stamp-go-to">learn more</a>)</td>
                </tr>
                <tr id="tech-spec-piercings">
                    <th>Piercings</th>
                    <td>Ears, nipples</td>
                </tr>
                <tr id="tech-spec-languages">
                    <th>Languages</th>
                    <td>
                        <ul>
                            <li>Fluent: English, JavaScript, Shell 👩🏻‍💻</li>
                            <li>Conversational: Hebrew</li>
                            <li>Basic: Spanish, Japanese</li>
                        </ul>
                    </td>
                </tr>
                <tr id="tech-spec-home-cities">
                    <th>Home cities</th>
                    <td>
                        <ul class="fa-ul">
                            <li><span class="fa-li fa-solid fa-city"></span>New York, NY, USA</li>
                            <li><span class="fa-li fa-solid fa-tree-city"></span>Boston, MA, USA</li>
                        </ul>
                        <a href="#contact">Inquire</a> about <acronym title="Fly-Me-To-You">FMTY</acronym> options.
                    </td>
                </tr>
                <tr id="tech-spec-passport-ready">
                    <th>Passport-ready</th>
                    <td>Yes</td>
                </tr>
                <tr id="tech-spec-nda-ready">
                    <th>NDA-ready</th>
                    <td>Yes</td>
                </tr>
            </tbody>
            <tfoot></tfoot>
        </table>

        <div>
            <h2 id="all-my-links"><a href="#links">All My Links</a></h2>
            <p>Want to see more of me? Find and follow me online via <a href="#links">my Links page</a>.</p>
            <p class="align-center">
                <a href="#links" class="button"><span class="icon fa-solid fa-chain"></span> All my links</a>
            </p>
        </div>

        <div>
            <p class="align-center"><img loading="lazy" src="{% link images/gallery-originals/skater-catgirl.jpg %}" alt="" /></p>
            <p class="copyright">
                Copyright &copy; by {{ site.author }}, {{ "now" | date: "%Y" }}. All rights reserved.
            </p>
        </div>
    </div>
</div><!-- .inner.split -->
