{% comment%}
{% endcomment %}
<div class="inner split">
    <div>
        <h2 id="tours-and-travel-locations">Tours and Travel locations</h2>
        <p>As an extrovert with a chronic case of wanderlust, I travel frequently and sometimes suddenly, so you&rsquo;ll want to plan in advance or risk rolling the dice on our stars aligning. My <a href="#tours-and-travel-calendar">travel calendar</a>, embedded below, is updated from time to time, and reflects my best estimate of where I&rsquo;ll be at any given time.</p>
        <iframe id="tours-and-travel-calendar"
            loading="lazy"
            src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;ctz=America%2FNew_York&amp;mode=AGENDA&amp;showPrint=0&amp;title=Violet%20Rollergirl&rsquo;s%20Tours%20and%20Travel%20Locations&amp;src=N2MzOGRhNDE4ZTE5MmM2NGZjMGFhOTQwM2U3YWY0YTNjOTQzNTMwMDFkYTE2ZWNjZTJhODk5MGZmZGMyZmU3OUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%239E69AF&amp;color=%230B8043"
            style="border:solid 1px #777; padding-left: 0;"
            width="100%" height="600"
            frameborder="0"
            scrolling="no"></iframe>
        <p><a href="{{ site.data.tours.google_calendar.subscribe_url }}">Subscribe to my calendar in Google Calendar</a> to get reminders ahead of my travel dates.</p>
        {% include availability-minimums.html %}
        <p class="button-container">
            <a href="#rates" class="button"><span class="icon fa-solid fa-coins"></span> Rates</a>
            <a href="#policies" class="button"><span class="icon fa-solid fa-file-contract"></span> Policies</a>
            <a href="#contact" class="button"><span class="icon fa-solid fa-pen-nib"></span> Booking Form</a>
        </p>
        <p class="align-center"><img src="{% link images/gallery-originals/skater-catgirl.jpg %}" alt="" /></p>
    </div>
    <div>
        <h2 id="availability">Availability</h2>
        <p>As I have autonomy over my time, with proper planning I can often be available at most times of the day or night. That said, I&rsquo;m not a morning kitten, and <strong>planning our date 2 or more days in advance will give us the best experience together.</strong> I'm discerning and selective, so while <a href="#short-notice-availability">same-day sessions</a> are possible, I always prioritize returning friends and longer bookings over short-notice quickies with new friends.</p>
        <p class="align-center"><img loading="lazy" src="{% link images/gallery-originals/mansion-villa-at-night.jpg %}" alt="" /></p>
        <h3 id="incall-availability">Incall Availability</h3>
        <p>I can privately host us at:</p>
        <ul>
            <li>a luxury condo in New York City near several city public transit lines</li>
            <li>a private house with a dedicated play room in the Boston/North Shore area</li>
        </ul>
        <p>Showers and easy street parking are available at both locations.</p>
        <h3 id="outcall-availability">Outcall Availability</h3>
        <p>If you would like to host:
        <ul>
            <li>I require round-trip fare for car service (including 20% tip for drivers) in addition to my usual <a href="#rates">rate</a> paid up front.</li>
            <li>For safety, I only meet new friends for the first time at a 4- or 5-star hotel, not at their personal residence. If you would like to book me for outcalls to your home, please first book a <a href="#rate-add-ons-and-online-social-only-date">social-only date</a> so that we may get comfortable with one another.</li>
        </ul>
        <h3 id="hotel-arrangements">Hotel arrangements</h3>
        <p>If you're unable to host an outcall, I'm happy to arrange a hotel meet (with minimum 24 hours notice) at cost for the hotel reservation.</p>
        <p>Suitors who want to really impress me should consider adding an amount with which to tip the hotel's housekeeping/maid service. (I notice when people don't tip, and I will in their stead.)</p>
        <h3 id="short-notice-availability">Short notice availability</h3>
        <p>My affinity for spontaneity makes same-day trysts occasionally possible <acronym title="If and only if">IFF</acronym> seeing one another is convenient for me. When booking with short notice (less than 24 hours), please keep in mind:
        <ul>
            <li>lack of foreplanning may incur a rush fee to cover last-minute higher lodging or travel costs.</li>
            <li>new friends are still <a href="#screening-options">required to screen</a>, which may take time, so I encourage you to get pre-screened if you often need this kind of spontaneous appointment.</li>
        </ul>
        <p>Occasionally, I publish last-minute availability on social media; my <a href="#links-socials-amp-content">Links page</a> shows you where you can find and follow me online.</p>
        <p class="button-container">
            <a href="#rates" class="button"><span class="icon fa-solid fa-coins"></span> Rates</a>
            <a href="#policies" class="button"><span class="icon fa-solid fa-file-contract"></span> Policies</a>
            <a href="#contact" class="button"><span class="icon fa-solid fa-pen-nib"></span> Booking Form</a>
        </p>
    </div>
