{% comment %}
Content for the "Links" Panel.
{% endcomment %}
<div class="inner split">
    {% for group in site.data.social_urls %}
    <div class="align-center" id="links-group-{{ group.group_name | slugify }}">
        <h2 id="links-{{ group.group_name | slugify }}">{{ group.group_name }}</h2>
        <ul class="icons">
            {% for item in group.items %}{% assign item_url_first_char = item.url | slice: 0, 1 %}
            <li id="links-{{ item.title | slugify }}">
                {% if item.icon %}
                <a href="{{ item.url }}" title="{{ item.title }}"
                    class="icon fa-2x fa-{{ item.icon | downcase }}"
                    {% unless "/" == item_url_first_char %}target="_blank"{% endunless %}>
                    <span class="label">{{ item.label }}</span>
                </a>
                {% elsif item.svg %}
                <a href="{{ item.url }}" title="{{ item.title }}"
                    class="icon fa-2x"
                    {% unless "/" == item_url_first_char %}target="_blank"{% endunless %}>
                    <img src="{{ site.baseurl }}{{ item.svg | relative_url }}" alt="{{ item.title }}"{% if item.style %} style="{{ item.style }}"{% endif%} />
                    {% if item.show_label != false %}<span class="label">{{ item.label }}</span>{% endif %}
                </a>
                {% endif %}
                {% if item.description %}{{ item.description | markdownify }}{% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
