{% comment %}
This template renders a single duo partner's (Microformat'ed) h-card.
{% endcomment %}
<article>
    <header id="partner-{{ include.partner.name | slugify }}" class="partner h-card">
        <h3>
            <a href="{{ include.partner.urls[0].url }}" class="p-name u-url">{{ include.partner.name }}</a>
        </h3>
        <h4>
            {{- include.partner.tagline -}}
        </h4>
    </header>
    {% if include.partner.photo %}
    <a href="{{ include.partner.urls[0].url }}"><img class="p-photo"
        src="{{ site.baseurl }}{{ include.partner.photo | relative_url }}"
        alt="Profile photo of {{ include.partner.name }}"
        /></a>
    {% endif %}
    <p class="p-note">
        {{- include.partner.bio -}}
    </p>
    <p class="button-container">
    {% for url in include.partner.urls %}
        <a href="{{ url.url }}" class="button"
            title="{{ include.partner.name }}&rsquo;s {{ url.anchor_text }}">
            <span class="fa-solid fa-{{ url.icon | default: "globe" }}"></span> {{ url.anchor_text | default: "Website" }}
        </a>
    {% endfor %}
    </p>
    <div class="duo-photos">
        {% for pic in include.partner.images %}
        <img src="{{ site.baseurl }}{{ pic.url | relative_url }}" alt="{{ pic.alt }}" />
        {% endfor %}
    </div><!-- .duo-photos -->
</article>
