{% comment %}
This snippet briefly describes my cancellation policy.
{% endcomment %}

<p>It's okay, you can always cancel or reschedule a date for any reason, no questions asked. If you cancel with:</p>

<ul>
    <li>3 or more days (72 hours) notice, the full amount (100%) of your deposit can be applied toward the fee for another date.</li>
    <li>3 to 1 days (72-24 hours) notice, half (50%) of your deposit can be applied one time only toward the fee for another date.</li>
    <li>1 day or less (24 hours) notice, your deposit will be forfeited. <a href="{% link resources/for-clients/booking-guide/index.md %}#the-day-before-our-date">I also consider ghosting to be a cancellation</a>.</li>
</ul>

<p>When applying the deposit for a cancelled date towards my fee for the next, that next date must be no later than 3 months after your original booking. Past deposits only apply towards the next date's fee, not their initial deposits; <a href="{% link _faq/booking/what-is-a-deposit.md %}" title="Learn what deposits are for and how they work.">deposits are unconditionally required to reserve any time in my calendar</a>.</p>

<p>In the rare event I'm forced to cancel our date, I will offer to promptly return your full deposit to you and will make every effort to give us another opportunity to meet.</p>
