{% comment %}
This snippet briefly describes my cancellation policy.
{% endcomment %}

<p>It's okay, you can always cancel or reschedule a date for any reason, no questions asked. If you cancel with:</p>

<ul>
    <li>3 or more days (72 hours) notice, 100% of your deposit can be applied toward the fee for a rescheduled date.</li>
    <li>3 to 1 days (72-24 hours) notice, 50% of your deposit can be applied toward the fee for a rescheduled date.</li>
    <li>1 day or less (24 hours) notice, your deposit will be forfeited, and I'll expect to receive the remainder of my fee before I'll consider scheduling with you again.</li>
</ul>

<p>I'll send you a <a href="{% link resources/for-clients/booking-guide/index.md %}#the-day-before-our-date">reminder before our date</a> so you have time to reschedule if needed.</p>

<p>I honor reapplied deposits for up to 3 months into the future. Past deposits cannot be used as a deposit again. They only apply towards the next date's fee, not their deposits; each booking <a href="{% link _faq/booking/what-is-a-deposit.md %}" title="Learn what deposits are for and how they work.">unconditionally requires a deposit to reserve my time</a>.</p>

<p>In the rare event I'm forced to cancel our date, I'll offer to promptly return your full deposit to you and will make every effort to give us another opportunity to meet.</p>
