{% comment %}
This snippet briefly describes my deposit policy.
{% endcomment %}

<p>I accept <a href="{% link resources/for-clients/using-cryptocurrency/index.md %}" title="Learn how to use cryptocurrency to pay your sex worker.">deposits via dozens of cryptocurrencies</a> (e.g., <a href="{% link index.html %}#links-zcash"><abbr title="Zcash">ZEC</abbr></a> or <a href="{% link index.html %}#links-monero"><abbr title="Monero">XMR</abbr></a> preferred, <abbr title="Bitcoin">BTC</abbr> or <abbr title="Ethereum">ETH</abbr> accepted), major debit or credit cards, some gift cards, or select privacy-preserving payment apps.</p>

<ul class="fa-ul">
    <li><span class="fa-li fa-solid fa-house"></span>One-fifth (20%) of the total booking cost while in my hometown(s).</li>
    <li><span class="fa-li fa-solid fa-plane"></span>One-third (33%) of the total booking cost while touring.</li>
</ul>

<p>Deposits are non-refundable, except in the rare case I must cancel our date, but they can be transferred to another date should you need to reschedule. (See <a href="{% link _faq/booking/what-is-your-cancellation-policy.md %}">my cancellation policy</a> for details.) Our time together is confirmed only after I receive your deposit.</p>
