/**
 * Yes, baby, tell me how much you love my style. ;)
 */

/* A single custom, quick 'n' dirty font hack. */
.icon.fa-xmpp::before {
    mask: url("{% link images/logo.xmpp.currentColor.svg %}") center/contain no-repeat;
}
