/* Main Content Wrapper */

#main-content-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;

	padding: 2em;
	width: 100%;
	min-height: 100%;
	background: _palette(bg-overlay-alt-min);

    h2,
    h3,
    h4,
    h5,
    h6 {
        scroll-margin-top: 100px;
    }

    footer:last-child {
        text-align: center;
        padding-top: 1em;
        border-top: 2px dotted _palette(border-bg-alt);
        margin-bottom: 4em;

        &::after {
          content: "###";
        }

        p {
          font-size: smaller;
        }
    }

}

#main-content-wrapper > div:first-child {
    max-width: 650px;
    margin: 0 auto;
    padding: 2em;
    background-color: rgba(5, 5, 5, 0.85);
}

#page-featured-image {
  position: absolute;
  right: 1em;
  z-index: -1;
  max-width: inherit;
  border-radius: 10px;

  @include breakpoint(medium) {
    position: static;
    z-index: 0;
    width: 100%;
  }
}
