/* Main Content Wrapper */

#main-content-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;

    padding: 2em;
    width: 100%;
    background: _palette(bg);
    opacity: .9;
}
