#navpanel {
	& ul {
		margin: 0;
		padding: 0;
		border: 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	& a {
		display: block;
		padding: 1em;
		text-align: center;
		border: 0;

		&:hover {
			background: #34a58e;
			color: #fff !important;
		}

		&::after {
			display: block;
			content: "(" attr(title) ")";
			font-size: x-small;
		}
	}

	& span.icon {
		display: block;
	}

}
