#tour-ticker {
  position: relative;
  top: -1rem;
  display: inline-flex;
  max-width: calc(100% - 3em - 300px - 80px);
  max-height: 3rem;
  overflow: scroll;

  h2 {
    margin: 0;
    font-size: 1rem;
    white-space: nowrap;
  }
}

#navpanel #tour-ticker {
    width: 100%;
    max-width: none;
    max-height: 10rem;
}

tour-event {
  flex-basis: 100%;
  flex-shrink: 1;
  margin-left: 1em;
  min-width: 200px;
}

@include breakpoint(xsmall) {
  #header #tour-ticker {
    display: none;
  }
}
