<!DOCTYPE HTML>
<html>
<head>
    {% include head.html %}
</head>
<body id="{% if page.id %}page-{{ page.id | slugify | xml_escape }}{% endif %}" class="collection-{% if page.collection %}{{ page.collection | xml_escape }}{% else %}none{% endif %}">
<div id="wrapper">
{% include header.html %}

{% comment %}EXIF data is for gallery only.{% endcomment %}
<main id="main" data-exif='{{ site.exif }}'>
    {{ content }}
    {% include gallery.html %}
</main>

<section id="navpanel" class="panel">
    {% include main-navpanel.html %}
</section>

<section id="about" class="panel">
    {% include panel-about.html %}
</section>

<section id="rates" class="panel">
    {% include panel-rates.html %}
</section>

<section id="contact" class="panel">
    {% include panel-contact.html %}
</section>

<section id="tours" class="panel">
    {% include panel-tours.html %}
</section>

<section id="links" class="panel">
    {% include panel-links.html %}
</section>

<section id="faq" class="panel">
    {% include panel-faq.html %}
</section>

<section id="friends" class="panel">
    {% include panel-friends.html %}
</section>

</div><!-- #wrapper -->
{% include footer.html %}
</body>
</html>
