---
layout: default
---

<div id="main-content-wrapper">
    <div id="{{ page.slug }}" class="{% unless page.featured_image %}no-featured-image{% endunless %}">
        {% if page.featured_image %}
        <img id="page-featured-image" loading="lazy"
            alt="{{ page.featured_image.alt | default: "" | xml_escape -}}"
            src="{{ page.featured_image.url | relative_url }}"
        />
        {% endif %}

        {{ content }}
    </div>

    <footer>
        {% if page.last_modified %}
        <p>Page last modified: {{ page.last_modified | date_to_long_string }}.</p>
        {% endif %}
    </footer>
</div>
