#first-contact-instructions li p {
	margin: 0;
}

#booking-inquiry-form {
	blockquote {
		padding: .5em .5em 0 .25em;
	}

	.form-label,
	.form-input,
	.form-select {
		display: inline;
		width: auto;
	}

	textarea.form-input {
		width: 100%;
	}
}

#contact-links-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
        flex: 1;
        text-align: center;
    }
}

.dos-and-donts-DO,
.dos-and-donts-DONT {
    display: inline;
}
.dos-and-donts-DO::after {
	content: " do ";
	text-transform: uppercase;
}
.dos-and-donts-DONT::after {
	content: " don't ";
	text-transform: uppercase;
}

#google-calendar-appointment-booking-form {
	display: none;
	padding-right: 10px;

	&:target {
		display: block;
	}
}
